In [5]:
import pandas as pd
df = pd.read_excel("Sales.xlsx",'Sales')
df
from sklearn.linear_model import LinearRegression
from sklearn import metrics
X = df[['Year']]
y = df[['TotalCost']]
print("Records count:",len(df)) 
df

Records count: 23

    Year  TotalCost
0   1997     499.25
1   1998     499.50
2   1999     499.75
3   2000     500.00
4   2001    1000.50
5   2002    1001.00
6   2003    1001.50
7   2004    1002.00
8   2005    1002.50
9   2006    1504.50
10  2007    1505.25
11  2008    1506.00
12  2009    1506.75
13  2010    1507.50
14  2011    3016.50
15  2012    3018.00
16  2013    3019.50
17  2014    3021.00
18  2015    3022.50
19  2016    3024.00
20  2017    6051.00
21  2018    6054.00
22  2019    6057.00

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
regressor = make_pipeline(StandardScaler(), SGDRegressor(max_iter=1000, tol=1e-3))
regressor.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('sgdregressor', SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
       eta0=0.01, fit_intercept=True, l1_ratio=0.15,
       learning_rate='invscaling', loss='squared_loss', max_iter=1000,
       n_iter=None, n_iter_no_change=5, penalty='l2', power_t=0.25,
       random_state=None, shuffle=True, tol=0.001, validation_fraction=0.1,
       verbose=0, warm_start=False))])

In [7]:
print ('Predicted Value:',regressor.predict([[2025]]))

Predicted Value: [7335.64128657]

In [8]:
y_pred = regressor.predict(X_test)
y_pred

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

array([4289.30307405, 2904.60388655, 4566.24291156, 3181.54372405,
        689.08518654, 3735.42339905, 5674.00226156, 2627.66404905,
       4843.18274906, 2073.78437404, -141.73432597, 2350.72421155])

In [9]:
print (regressor.predict([[2020]]))#prediction for 2020

[5950.94209906]

In [10]:
y_pred = regressor.predict(X_test)
y_pred

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

array([4289.30307405, 2904.60388655, 4566.24291156, 3181.54372405,
        689.08518654, 3735.42339905, 5674.00226156, 2627.66404905,
       4843.18274906, 2073.78437404, -141.73432597, 2350.72421155])

In [13]:
#Model Evaluation
from sklearn import metrics
y_pred = regressor.predict(X_test)
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred))
print('Explained Variance Score:', metrics.explained_variance_score(y_test, y_pred))
print('Median Absolute Error:', metrics.median_absolute_error(y_test, y_pred))
print('R^2:', metrics.r2_score(y_test, y_pred))
#print('Balanced Accuracy:', metrics.balanced_accuracy_score(y_test, y_pred)) #Valid only for classfication

Mean Absolute Error (MAE): 1024.3849380684526
Mean Squared Error (MSE): 1293680.3704259533
Explained Variance Score: 0.6781244318137143
Median Absolute Error: 983.5691302960586
R^2: 0.36019903001987175

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)