In [49]:
import pandas as pd
df = pd.read_excel("real_estate_data.xlsx",'Real_Estate_data')
from sklearn import metrics
#selection to attributes where according to the correlation
X = df[['BuildingAge','Area','Floor']]
y = df[['SalePrice']]
print("Records count:",len(df)) 
df

Records count: 5891

      SalePrice  BuildingAge  Area  Floor  Location
0        141592         2006   814      3         1
1         51327         1985   587      8         1
2         48672         1985   587      6         1
3        380530         2006  2056      8         0
4        221238         1993  1761      3         0
5         35840         1992   355      5         0
6         78318         1992   644      2         1
7         61946         1993   644     10         1
8         84070         1993   644      3         1
9         83185         1992   644     13         0
10       168141         1986  1377      4         0
11       153982         1986   914     11         0
12       200884         2007   868     18         1
13        60176         1985   587      7         1
14        93362         1986   910      7         1
15       185840         1993  1288     24         0
16       120796         1993   914      2         0
17        64601         1992   576      5         0
18       176991         1993  1451      1         1
19        55752         1992   576      1         1
20        38053         1992   355      3         1
21        92035         1993   644     20         0
22       181061         2007   868     18         0
23       165486         1986  1131      7         0
24       198230         2007   868     12         1
25       185840         2007   868      3         1
26       448672         2007  1643     39         1
27       371681         2007  1387     38         0
28       167964         2006   903     10         0
29       198230         2007   868     13         0
...         ...          ...   ...    ...       ...
5861     246017         1993   914     12         1
5862     199115         1993   644     16         1
5863     211504         2005   572     20         1
5864     283185         2005   914     15         1
5865      70796         1992   355      6         1
5866      72566         2014   213     15         1
5867     470796         2014  1088     22         1
5868     305309         2008   829     16         1
5869     183185         1993   644      7         1
5870     342477         1993  1761     16         1
5871     237168         1978   903      1         1
5872     442477         2007  1387     27         1
5873     201769         1978   779      1         1
5874     300884         2015   644     18         1
5875     265486         2006   903      1         1
5876     491150         2007  1519     21         1
5877     283185         2015   644      2         1
5878     349557         2007   868     16         1
5879     256637         1986   914      8         1
5880     292035         1986  1131      1         1
5881     557522         2007  1928     20         1
5882     570796         2007  1928     24         1
5883     254867         2006   857      8         1
5884     307079         2015   644     22         1
5885     482300         2007  1643      4         1
5886     511504         2007  1643     19         1
5887     298230         2006   903     13         1
5888     357522         2007   868     20         1
5889     312389         1978  1327      1         1
5890     393805         2007   868     13         1

[5891 rows x 5 columns]

In [57]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50)

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
regressor = make_pipeline(StandardScaler(), SGDRegressor(max_iter=5))
regressor.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_stochastic_gradient.py:1507: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning,

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdregressor', SGDRegressor(max_iter=5))])

In [58]:
print ('Predicted Value:',regressor.predict([[1995,280,10]]))

Predicted Value: [53434.97397707]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [59]:
y_pred = regressor.predict(X_test)
y_pred

array([230819.72213698, 229754.87781515, 208629.5271348 , ...,
       371001.24352135, 333223.67809475, 253539.3006887 ])

In [60]:
print (regressor.predict([[1995,280,10]]))#prediction for 2020

[53434.97397707]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [61]:
y_pred = regressor.predict(X_test)
y_pred

array([230819.72213698, 229754.87781515, 208629.5271348 , ...,
       371001.24352135, 333223.67809475, 253539.3006887 ])

In [62]:
#Model Evaluation
from sklearn import metrics
y_pred = regressor.predict(X_test)
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred))
print('Explained Variance Score:', metrics.explained_variance_score(y_test, y_pred))
print('Median Absolute Error:', metrics.median_absolute_error(y_test, y_pred))
print('R^2:', metrics.r2_score(y_test, y_pred))
#print('Balanced Accuracy:', metrics.balanced_accuracy_score(y_test, y_pred)) #Valid only for classfication

Mean Absolute Error (MAE): 48786.801710264575
Mean Squared Error (MSE): 3624818505.4020905
Explained Variance Score: 0.6823943488603026
Median Absolute Error: 43617.53889092147
R^2: 0.6821743251176282