In [23]:
import pandas as pd
df = pd.read_excel("Sales.xlsx",'Sales')
df
from sklearn.linear_model import LinearRegression
from sklearn import metrics
X = df[['Year']]
y = df[['TotalCost']]
print("Records count:",len(df)) 
df

Records count: 23

    Year  TotalCost
0   1997        124
1   1998       1225
2   1999       1260
3   2000       1277
4   2001       1306
5   2002       1332
6   2003       1358
7   2004       1384
8   2005       1410
9   2006       1436
10  2007       1462
11  2008       2008
12  2009       1514
13  2010       1540
14  2011       1566
15  2012       1592
16  2013       1618
17  2014       1644
18  2015       1670
19  2016       1696
20  2017       1722
21  2018       1748
22  2019      10000

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
from sklearn.pipeline import make_pipeline
regressor = make_pipeline(StandardScaler(), SGDRegressor(max_iter=1000, tol=1e-3))
regressor.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:465: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:1219: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  ConvergenceWarning)

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('sgdregressor', SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
       eta0=0.01, fit_intercept=True, l1_ratio=0.15,
       learning_rate='invscaling', loss='squared_loss', max_iter=1000,
       n_iter=None, n_iter_no_change=5, penalty='l2', power_t=0.25,
       random_state=None, shuffle=True, tol=0.001, validation_fraction=0.1,
       verbose=0, warm_start=False))])

In [34]:
print ('Predicted Value:',regressor.predict([[2025]]))

Predicted Value: [2221.15813734]

In [35]:
y_pred = regressor.predict(X_test)
y_pred

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

array([ 897.67600757, 1829.01528408, 1485.89028747,  946.69386423,
       1142.76529086, 1681.9617141 , 1289.81886084, 1387.85457415,
       1191.78314752, 1240.80100418, 1583.92600079, 1927.05099739])

In [36]:
print (regressor.predict([[2020]]))#prediction for 2020

[1976.06885405]

In [37]:
y_pred = regressor.predict(X_test)
y_pred

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

array([ 897.67600757, 1829.01528408, 1485.89028747,  946.69386423,
       1142.76529086, 1681.9617141 , 1289.81886084, 1387.85457415,
       1191.78314752, 1240.80100418, 1583.92600079, 1927.05099739])

In [38]:
#Model Evaluation
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred))
print('Explained Variance Score:', metrics.explained_variance_score(y_test, y_pred))
print('Mean Squared Log Error:', metrics.mean_squared_log_error(y_test, y_pred))
print('Median Absolute Error:', metrics.median_absolute_error(y_test, y_pred))
print('R^2:', metrics.r2_score(y_test, y_pred))
#print('Balanced Accuracy:', metrics.balanced_accuracy_score(y_test, y_pred)) #Valid only for classfication

Mean Absolute Error (MAE): 855.3097469309323
Mean Squared Error (MSE): 5492628.717988422
Explained Variance Score: 0.13524698467640783
Mean Squared Log Error: 0.25912955971444157
Median Absolute Error: 180.70792414960067
R^2: 0.010840939757858381