In [1]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Yousif
[nltk_data]     Ennwa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [14]:
import pandas as pd
df = pd.read_excel("SubjectsClassification.xlsx",'Sentiments_Arabic')
# run pip install textblob first from command line
from textblob import TextBlob
testmonial = TextBlob('the course was excellent')
print (testmonial.sentiment)

df

Sentiment(polarity=1.0, subjectivity=1.0)

                             Statement  Class
0                       مرة واحد صعيدي    نكت
1                         يا ابن الكلب     سب
2                مرة اتنين شافوا واحدة    نكت
3                            فوز نادي   رياضة
4                 والله انتو عيال ولاد     سب
5                      المصري يفوز على  رياضة
6           هزيمة مدوية للمنتخب الوطني  رياضة
7                     يا حيوان يا جزمة     سب
8                          أنت مبتفهمش     سب
9   برشلونة تخسر مباراتها أمام البايرن  رياضة
10     خسارة فريق السودان أمام السنغال  رياضة

In [19]:
from textblob.classifiers import NaiveBayesClassifier
cl = NaiveBayesClassifier(df.head(7).values) #should pass the values, not the data frame with index and columns titles
#you have also different classifiers, like DecisionTreeClassifier

print(cl.classify("مصر خسرت المباراة"))
print(cl.classify("مرة واحد لبناني جه يعمل مش عار ايه عمل بتاع"))
print(cl.classify("أنتو ولاد"))
cl.accuracy(df.tail(5).values)#you should enter here test data, not all data as we did

رياضة
نكت
رياضة

0.6