In [2]:
import pandas as pd
df = pd.read_excel("Sales.xlsx",'Sales')
df
from sklearn.linear_model import LinearRegression
from sklearn import metrics
X = df[['Year']]
y = df[['TotalCost']]
print("Records count:",len(df)) 
df

Records count: 23

    Year  TotalCost
0   1997        124
1   1998       1225
2   1999       1260
3   2000       1277
4   2001       1306
5   2002       1332
6   2003       1358
7   2004       1384
8   2005       1410
9   2006       1436
10  2007       1462
11  2008       2008
12  2009       1514
13  2010       1540
14  2011       1566
15  2012       1592
16  2013       1618
17  2014       1644
18  2015       1670
19  2016       1696
20  2017       1722
21  2018       1748
22  2019      10000

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2, include_bias=False)
poly_features = poly.fit_transform(x.reshape(-1, 1))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

from sklearn.linear_model import ElasticNet
regressor = ElasticNet(random_state=0)
regressor.fit(X_train, y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=0, selection='cyclic', tol=0.0001, warm_start=False)

In [4]:
print ('Predicted Value:',regressor.predict([[2025]]))

Predicted Value: [1924.86364275]

In [5]:
y_pred = regressor.predict(X_test)
y_pred

array([1386.30403033, 1309.36694285, 1463.24111782, 1360.6583345 ,
       1206.78415953, 1335.01263867, 1232.42985536, 1514.53250948,
       1258.07555119, 1770.98946777, 1617.1152928 , 1488.88681365])

In [6]:
print (regressor.predict([[2020]]))#prediction for 2020

[1796.6351636]

In [7]:
y_pred = regressor.predict(X_test)
y_pred

array([1386.30403033, 1309.36694285, 1463.24111782, 1360.6583345 ,
       1206.78415953, 1335.01263867, 1232.42985536, 1514.53250948,
       1258.07555119, 1770.98946777, 1617.1152928 , 1488.88681365])

In [8]:
#Model Evaluation
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred))
print('Explained Variance Score:', metrics.explained_variance_score(y_test, y_pred))
print('Mean Squared Log Error:', metrics.mean_squared_log_error(y_test, y_pred))
print('Median Absolute Error:', metrics.median_absolute_error(y_test, y_pred))
print('R^2:', metrics.r2_score(y_test, y_pred))
#print('Balanced Accuracy:', metrics.balanced_accuracy_score(y_test, y_pred)) #Valid only for classfication

Mean Absolute Error (MAE): 821.1885385947656
Mean Squared Error (MSE): 5763217.389699318
Explained Variance Score: 0.09495777856499554
Mean Squared Log Error: 0.6857665677285895
Median Absolute Error: 2.8354865889632492
R^2: 0.02634103971218804