In [1]:
import pandas as pd
df = pd.read_excel("Sales.xlsx",'Sales')
df
from sklearn.linear_model import Lasso
from sklearn import metrics
X = df[['Year']]
y = df[['TotalCost']]
print("Records count:",len(df)) 
df

Records count: 23

    Year  TotalCost
0   1997        124
1   1998       1225
2   1999       1260
3   2000       1277
4   2001       1306
5   2002       1332
6   2003       1358
7   2004       1384
8   2005       1410
9   2006       1436
10  2007       1462
11  2008       2008
12  2009       1514
13  2010       1540
14  2011       1566
15  2012       1592
16  2013       1618
17  2014       1644
18  2015       1670
19  2016       1696
20  2017       1722
21  2018       1748
22  2019      10000

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

from sklearn.linear_model import Lasso
regressor = Lasso(random_state=0)
regressor.fit(X_train, y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=0,
   selection='cyclic', tol=0.0001, warm_start=False)

In [3]:
print ('Predicted Value:',regressor.predict([[2025]]))

Predicted Value: [1973.43316195]

In [4]:
y_pred = regressor.predict(X_test)
y_pred

array([1457.6748072 , 1612.40231362, 1328.73521851, 1251.3714653 ,
       1560.82647815, 1741.34190231, 1689.76606684, 1818.70565553,
       1792.91773779, 1302.94730077, 1431.88688946, 1380.31105398])

In [5]:
print (regressor.predict([[2020]]))#prediction for 2020

[1844.49357326]

In [6]:
y_pred = regressor.predict(X_test)
y_pred

array([1457.6748072 , 1612.40231362, 1328.73521851, 1251.3714653 ,
       1560.82647815, 1741.34190231, 1689.76606684, 1818.70565553,
       1792.91773779, 1302.94730077, 1431.88688946, 1380.31105398])

In [7]:
#Model Evaluation
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(y_test, y_pred))
print('Explained Variance Score:', metrics.explained_variance_score(y_test, y_pred))
print('Mean Squared Log Error:', metrics.mean_squared_log_error(y_test, y_pred))
print('Median Absolute Error:', metrics.median_absolute_error(y_test, y_pred))
print('R^2:', metrics.r2_score(y_test, y_pred))
#print('Balanced Accuracy:', metrics.balanced_accuracy_score(y_test, y_pred)) #Valid only for classfication

Mean Absolute Error (MAE): 814.7062982005142
Mean Squared Error (MSE): 5685539.874368337
Explained Variance Score: 0.08215041277986757
Mean Squared Log Error: 0.6853645362775588
Median Absolute Error: 47.250642673523544
R^2: 0.03080079471921171